{
  "presets": ["es2015", "stage-0"],
  "plugins": ["syntax-async-functions", "transform-regenerator",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test",
        "underscore": "lodash"
      }
    }]]
}